<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>Algoritmo de MiniMax </title>
</head>
<body>
    <header></header>
    <main>
        <div id="tic-tac-toe">
            <span class="pos" id="pos0-0" data="" onclick="myMove({row:'0',col:'0'})">
             
            </span>
            <span class="pos" id="pos0-1" data="" onclick="myMove({row:'0',col:'1'})">
     
            </span>
            <span class="pos" id="pos0-2" data="" onclick="myMove({row:'0',col:'2'})">
     
            </span>
            <span class="pos" id="pos1-0" data="" onclick="myMove({row:'1',col:'0'})">
     
            </span>
            <span class="pos" id="pos1-1" data="" onclick="myMove({row:'1',col:'1'})">
     
            </span>
            <span class="pos" id="pos1-2" data="" onclick="myMove({row:'1',col:'2'})">
     
            </span>
            <span class="pos" id="pos2-0" data="" onclick="myMove({row:'2',col:'0'})">
     
            </span>
            <span class="pos" id="pos2-1" data="" onclick="myMove({row:'2',col:'1'})">
     
            </span>
            <span class="pos" id="pos2-2" data="" onclick="myMove({row:'2',col:'2'})">
     
            </span>
         </div>
    </main>

</body>
</html>